{%extends "base.html"%}{% block title%}Verve & Co. | Cart{%endblock%} {% block
content%}
<form action="/update_cart" method="post">
  <div class="small-container cart-page">
    <table>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
      {%set total = namespace(value=1)%} {% for row in cart %}
      <tr>
        <td>
          <div class="cart-info">
            <img src="{{row['image']}}" />
            <div>
              <p>{{row['name']}}</p>
              <small>Price: {{row['price']}}</small>
              <br />
              <a href="">Remove</a>
            </div>
          </div>
        </td>
        <td>
          <input
            type="number"
            value="{{row['quantity']}}"
            style="margin-right: 5px; width: 50px"
          />
          <button type="submit">Update</button>
        </td>
        <td>
          {{convert_int_to_currency(convert_currency_to_int(row['price']) *
          row['quantity'])}}
        </td>
      </tr>
      {%set total.value = total.value + (convert_currency_to_int(row['price']) *
      row['quantity'])%} {%endfor%}
    </table>
    <div class="total-price">
      <table>
        <tr>
          <td>Subtotal</td>
          <td>{{convert_int_to_currency(total.value)}}</td>
        </tr>
        <tr>
          <td>Tax</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>{{convert_int_to_currency(total.value)}}</td>
        </tr>
      </table>
    </div>
    <button
      type="submit"
      style="width: 200px; height: 40px; float: right; cursor: pointer"
      class="btn"
    >
      Check Out
    </button>
  </div>
</form>
{%endblock%}
