{%extends "base.html"%} {% block title%}Home{%endblock%} {% block content%}

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <h1>
          Fashion Finesse <br />
          Unleash Your Personal Style 
        </h1>
        <p>
          Unlock Your Style Potential: Explore a Diverse Collection of Exquisite 
          Fashion and Accessories for Every Occasion
        </p>
        <a href="/all_products" class="btn">Explore Now &#8594;</a>
      </div>
      <div class="col-2 image-wraper">
        <img src="static/images/hero-image.png" />
      </div>
    </div>
  </div>
</div>
<!-- Brands -->

<div class="brands">
  <div class="small-container">
    <div class="row">
      <div class="col-5">
        <img src="static/images/brand1.png" />
      </div>
      <div class="col-5">
        <img src="static/images/brand2.png" />
      </div>
      <div class="col-5">
        <img src="static/images/brand3.png" />
      </div>
      <div class="col-5">
        <img src="static/images/brand4.png" />
      </div>
      <div class="col-5">
        <img src="static/images/brand5.png" />
      </div>
    </div>
  </div>
</div>
<!-- Featured Products -->

<div class="small-container">
  <h2 class="title">Featured Products</h2>
  <div class="row">
    <div class="col-4">
      <a href="product_details.html"
        ><img src="static/images/product-1.jpg"
      /></a>
      <h4>Red Printed T-Shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="static/images/product-2.jpg" />
      <h4>Red Printed T-Shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="static/images/product-3.jpg" />
      <h4>Red Printed T-Shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="static/images/product-4.jpg" />
      <h4>Red Printed T-Shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
  </div>
  <h2 class="title">Latest Products</h2>
  <div class="row">
    <div class="col-4">
      <img src="static/images/logo.jpg" />
      <h4>Red Printed T-Shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="static/images/logo.jpg" />
      <h4>Red Printed T-Shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="static/images/logo.jpg" />
      <h4>Red Printed T-Shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="static/images/logo.jpg" />
      <h4>Red Printed T-Shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img src="static/images/logo.jpg" />
      <h4>Red Printed T-Shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="static/images/logo.jpg" />
      <h4>Red Printed T-Shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="static/images/logo.jpg" />
      <h4>Red Printed T-Shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="static/images/logo.jpg" />
      <h4>Red Printed T-Shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
  </div>
</div>

<!-- Offer -->
<div class="offer">
  <div class="small-container">
    <div class="row">
      <div class="col-2">
        <img src="static/images/logo.jpg" class="offer-img" />
      </div>
      <div class="col-2">
        <p>Exclusively Available on RedStore</p>
        <h1>Smart Band 4</h1>
        <small
          >The Mi Smart Band 4 fearures a 39.9%larger (than Mi Band 3) AMOLED
          color full-touch display with adjustable brightness, so everything is
          clear as can be.<br
        /></small>
        <a href="products.html" class="btn">Buy Now &#8594;</a>
      </div>
    </div>
  </div>
</div>

<!-- Testimonial -->
<div class="testimonial">
  <div class="small-container">
    <div class="row">
      <div class="col-3">
        <i class="fa fa-quote-left"></i>
        <p>
          is your one-stop shop for designer pieces at an affordable price. With
          an ever-changing selection of clothes for men, women, and children,
          you’ll find something for any occasion.
        </p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <img src="static/images/logo.jpg" />
        <h3>LIZ S.</h3>
      </div>
      <div class="col-3">
        <i class="fa fa-quote-left"></i>
        <p>
          it is a budget-friendly clothing store that has colorful and trendy
          pieces for men and women. Their selection of graphic tees, sweatpants
          and joggers, and sneakers
        </p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <img src="static/images/logo.jpg" />
        <h3>MIKE A.</h3>
      </div>
      <div class="col-3">
        <i class="fa fa-quote-left"></i>
        <p>
          is a luxurious department store that carries designer clothes and
          accessories. They have an extensive collection of high-end fashion
          from top names like Prada, Gucci, and Chanel.
        </p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <img src="static/images/logo.jpg" />
        <h3>KAREN P.</h3>
      </div>
    </div>
  </div>
</div>

<!-- Feadtued Categories -->

<div class="guarantee">
  <div class="small-container">
    <div class="row">
      <div class="col-3">
        <div class="grey-circle">
          <img src="static/images/icon-delivery.png" />
        </div>
        <div style="display: flex; align-items: center; flex-direction: column">
          <h3 className=" text-xl font-bold mb-2">FREE AND FAST DELIVERY</h3>
          <p>Free delivery for all orders over $140</p>
        </div>
      </div>
      <div class="col-3">
        <div class="grey-circle">
          <img src="static/images/Icon-Customer.png" />
        </div>
        <div style="display: flex; align-items: center; flex-direction: column">
          <h3 className=" text-xl font-bold mb-2">24/7 CUSTOMER SERVICE</h3>
          <p>Friendly 24/7 customer support</p>
        </div>
      </div>
      <div class="col-3">
        <div class="grey-circle">
          <img src="static/images/icon-secure.png" />
        </div>
        <div style="display: flex; align-items: center; flex-direction: column">
          <h3 className=" text-xl font-bold mb-2">MONEY BACK GUARANTEE</h3>
          <p>We return money within 30 days</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
